---
import Heading from "../Heading.astro";
---

<div class="flex">
  <div class="py-[10px] px-[16px] rounded-[6px] bg-peach-96">
    <Heading class="font-medium text-[16px]">
      <slot />
    </Heading>
  </div>
</div>
