---
import Container from "../../layouts/Container.astro";
import SectionTitle from "../SectionTitle.astro";
import Achievement from "./Achievement.astro";
---

<Container>
  <div class="space-y-[40px] lg:space-y-[60px] 3xl:space-y-[80px]">
    <SectionTitle
      title="Milestones of My Career"
      text="Lorem ipsum dolor sit amet consectetur. Nisl ut neque tortor nulla felis nunc. Sit ac sed sed pulvinar sit purus morbi. Elit amet sed velit auctor urna vitae nam ultricies massa."
    />

    <div class="flex flex-col items-center">
      <Achievement
        when="Now"
        title="Expanding Horizons"
        text=" Expanding Horizons Continuing on my path of growth and exploration, I expanded my skill set by delving into emerging technologies and design trends..."
        candle="purple"
        color="#9E00FF"
        reverse
      />

      <div class="w-[2px] h-[60px] bg-purple-90 lg:hidden"></div>

      <Achievement
        when="2022"
        title="A Collaborative Partnership"
        text="I formed a strategic partnership with a digital marketing agency, combining my web design expertise with their marketing prowess. This collaboration o..."
        candle="green"
        color="#5EDC11"
      />

      <div class="w-[2px] h-[60px] bg-purple-90 lg:hidden"></div>

      <Achievement
        when="2021"
        title="Entrepreneurial Pursuits"
        text="Entrepreneurial Pursuits Fueled by a desire for creative freedom and the opportunity to work with diverse clients, I decided to venture into freelancing i..."
        candle="yellow"
        color="#FFCE22"
        reverse
      />

      <div class="w-[2px] h-[60px] bg-purple-90 lg:hidden"></div>

      <Achievement
        when="2020"
        title="A Corporate Adventure"
        text="I joined a leading technology company as their in-house web designer. This experience allowed me to work on large-scale projects, collaborating w..."
        candle="orange"
        color="#FF7222"
      />

      <div class="w-[2px] h-[60px] bg-purple-90 lg:hidden"></div>

      <Achievement
        when="2019"
        title="Learning and Growing"
        text=" I had the opportunity to work with an innovative design agency, where I honed my skills and expanded my knowledge. Collaborating with talent...."
        candle="pink"
        color="#FF22E9"
        reverse
      />

      <div class="w-[2px] h-[60px] bg-purple-90 lg:hidden"></div>

      <Achievement
        when="2018"
        title="A World of Possibilities In 2018"
        text=" Expanding Horizons Continuing on my path of growth and exploration, I expanded my skill set by delving into emerging technologies and design trends..."
        candle="blue"
        color="#2260FF"
      />
    </div>
  </div>
</Container>
