<div class="space-x-[20px] lg:space-x-[24px] 3xl:space-x-[30px]">
  <a href="/" class="text-gray-20 text-[14px] lg:text-[16px] 3xl:text-[18px]"
    >Home</a
  >

  <a
    href="/about"
    class="text-gray-20 text-[14px] lg:text-[16px] 3xl:text-[18px]">About Me</a
  >

  <a
    href="/portfolio"
    class="text-gray-20 text-[14px] lg:text-[16px] 3xl:text-[18px]">Portfotio</a
  >

  <a
    href="/contact"
    class="text-gray-20 text-[14px] lg:text-[16px] 3xl:text-[18px]"
    >Contact Me</a
  >
</div>
