---
import Icon from "astro-icon";
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div class="flex">
  <div
    class="p-[10px] 3xl:p-[12px] rounded-[6px] 3xl:rounded-[8px] bg-purple-50"
    style="box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.50) inset;"
  >
    <Icon name={name} class="w-[20px] h-[20px] 3xl:w-[24px] 3xl:h-[24px]" />
  </div>
</div>
